<div class="filter">
    <a href="#">
    <div class="filteritems">
        <div> 🆕</div>
        <p>New Opens</p>
    </div>
</a>

<a href="#">
    <div class="filteritems">
        <div><i class="fa-solid fa-fire"></i></div>
        <p>Top place</p>
    </div>
</a>

<a href="#">
    <div class="filteritems">
        <div><i class="fa-solid fa-fire"></i></div>
        <p>Trending</p>
    </div>
</a>

<a href="#">
    <div class="filteritems">
        <div><i class="fa-solid fa-door-closed"></i></div>
        <p>Privates room</p>
    </div>
</a>

<a href="#">
    <div class="filteritems">
        <div><i class="fa-regular fa-house"></i></div>
        <p>Cabins</p>
    </div>
</a>

<a href="#">
    <div class="filteritems">
        <div><i class="fa-solid fa-baseball"></i></div>
        <p>Play</p>
    </div>
</a>

<a href="#">
    <div class="filteritems">
        <div><i class="fa-solid fa-wheelchair"></i></div>
        <p>Adapted</p>
    </div>
</a>

<a href="#">
    <div class="filteritems">
        <div><i class="fa-solid fa-hotel"></i></div>
        <p>Modern city</p>
    </div>
</a>

<a href="#">
    <div class="filteritems">
        <div><i class="fa-solid fa-tree"></i></div>
        <p>Tree Top</p>
    </div>
</a>
</div>